@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

*{
margin:0px;
padding:0px;
}

body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    height: 270px;
    background-color: black;
    color:white;
    text-align: center;
  padding-bottom: 0px;
    
}

h1{
    padding-top: 70px;
    padding-bottom: 0px;
    font-variant:small-caps;
    font:normal bolder 7em Rowdies;    
}

a{
    background-color: black;
    height: 70px;
    color: white;
    font:normal bolder 1em Arial;
    text-align: center;
    text-decoration:none;
    padding-top: 0px;
}

a:hover{
    color:cornflowerblue;
    transition: 0.5s;
}
p{
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

