@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root{
margin:0px;
padding: 0px;
}

body{
    background-color: white;
    margin:0px;
    padding:0px;
}

header{
    color:black;
}
a{
    color:white;
    text-decoration:none;
}

h1{
    background-color: black;
    height: 70px;
    font:normal bolder 6em Rowdies;
    text-align: center;
    color:white;
    margin-top:0px;
    margin-bottom: 0px;
    padding: 70px;
}

#referencia{
    height: 70px;
    margin-top: 0px;
    padding-top: 0px;
    color: white;
    background-color: #000000;
    font:normal bolder 1em Arial;
    text-align: center;
    text-decoration:none;
}
